:root {
  //colors
  --color-primary: #5b2f90;
  --color-secondary: #df2027;
  --color-tertiary: #147a6d;

  --color-primary-dark: #5b2f9050;

  --color-black-light: #2c2c2c;

  --color-grey: #969bab;
  --color-grey-mild: #c4c4c4;
}
