body {
  font-family: lato, "product-sans";
  color: var(--color-black-light);
}

.heading {
  font-weight: bold;

  &-primary {
    font-size: 5rem;
    text-transform: uppercase;
  }

  &-secondary {
    font-size: 2rem;
    color: var(--color-secondary);
  }
}

.text {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
