.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10rem;
    padding: 1.3rem 3rem;
    transition: all 0.2s;
    border: none;
    outline: none;
  }

  &:hover {
    outline: none;
  }

  &-primary {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 5px 5px var(--color-primary-dark);
    font-size: 1.2rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 7px 7px var(--color-primary-dark);
    }
  }

  &-header {
    padding: 1.3rem 8rem;
  }
}
