.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    border: none;
    outline: none;
  }

  &:hover {
    outline: none;
  }

  &-primary {
    background-color: var(--color-secondary);
    color: white;
    box-shadow: 0 5px 5px var(--color-primary-dark);
    font-size: 1.4rem;
    padding: 1.5rem 3.3rem;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 7px 7px var(--color-primary-dark);
    }
  }
}
