.aboutPage {
  display: flex;
  justify-content: center;

  .container {
    width: 70%;

    .section-heading {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin: 0;
      }

      .carousel-container {
        text-align: center;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .carousel {
          height: 25rem;
          width: 80%;
          background-color: var(--color-grey-mild);
          border-radius: 4rem;
        }
      }
    }

    .section-about {
      .about-tedx-shivnadar,
      .about-tedx,
      .about-ted {
        margin-bottom: 15rem;
      }

      .about-tedx,
      .about-ted {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about-info {
          flex: 0 0 45%;
        }

        .about-image-container {
          flex: 0 0 45%;
          height: 30rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-position: center;
          background-size: cover;

          .about-image-container-inner {
            background-color: var(--color-grey-mild);
            height: 85%;
            width: 85%;
            border-radius: 4rem;
          }
        }
      }
    }
  }
}
