$bp-large: 62.5em; // 1000px 
$bp-medium: 45.6em; //730px 
$bp-small-1: 37.5em; //600px 
$bp-small-2: 36.25em; //430px 
$bp-smallest: 21.875em; //350px 


//colors
$color-rewire-1: #5B2F90;
$color-rewire-2: #DF2027;
$color-rewire-3: #147A6D;


.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.contactPage {
    display: grid;

    grid-template-rows: min-content .75fr 1fr ;
    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: min-content .75fr 1fr ;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-row-gap: 3rem;
    }

    padding: 15rem 0 10rem 0;
    //justify-content: center;
       

        &__heading {
            justify-self: center;

            @media only screen and (max-width: $bp-small-1) {
                width: 80%;
            }

            &__title {
                font-size: 2rem;
                
            }

            &__para {
                
                font-size: 1.2rem;
                width: 100%;
            }
            
        }

        &__map {
            justify-self: center;
            align-self: center;
            padding: 3rem;

            &__title {
                font-size: 1.8rem;
                text-align: center;
            }

            &__embedded {
                margin-top: 2rem;
                border-radius: 50px;
                border: 0;
                height: 40rem;
                width: 50rem;
                box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.356) ;

                @media only screen and (max-width: $bp-small-1) {
                    height: 30rem;
                    width: 40rem;
                }
            }
        }

        &__form {
            display: grid;
            grid-template-columns: repeat(2, .5fr);
            grid-column-gap: 4rem;
            // justify-self: center;

            @media only screen and (max-width: $bp-small-1) {
                grid-template-columns: 1fr;
            }

            &__embedded {

                display: grid;
                grid-template-rows: repeat(2, min-content);       
                align-self: center;     
                 
         

                &__title {
                    justify-self: center;  
                    font-size: 1.5rem;
                }
    
                &__form-link {

                    .form-item {
                        @media only screen and (max-width: $bp-small-2) {
                            padding: 1rem 2rem;
                        }

                        @media only screen and (max-width: $bp-smallest) {
                            padding: 1rem 3rem;
                        }
                    }
                   
                    .contact {
                        width: 100%;
                        // padding: 2rem;
                    }
                    
                    .wrapper {
                        width: 90%;
                    
                        &__box {
                            width: 100%;
                            position: relative;
                            padding: 2rem;
                        }
                    }
                    
                    .input {
                        width: 100%;
                        font-size: 1.2rem;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid $color-rewire-3;
                        transition: all .3s linear;
                        color: white;
                    
                        &:focus,
                        &:valid {
                            padding: 1rem .5rem;
                            background-color: $color-rewire-3;
                            margin-top: 1.5rem;
                        }
                    }
                    
                    .label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 2rem;
                        transition: all .3s linear;
                    
                        &:focus,
                        &:valid {
                            padding: 0;
                        }
                    }                 
                    
                }

            }

            &__about {
                align-self: center;
                margin-left: 5rem;

                @media only screen and (max-width: $bp-small-1) {
                    display: none;
                }

                &__text1 {
                    font-size: 1.4rem;
                }

                &__links {
                    list-style: none;
                    font-size: 1.4rem;
                    
                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                    li {
                        padding: 1.2rem 2rem;
                        
                    }
                }

                &__text2 {
                    font-size: 1.4rem;
                }

            }
        }




}