@import "../../assets/scss/abstract/mixins.scss";

.home {
  width: 100%;
  display: flex;
  justify-content: center;

  .home-container {
    width: 80%;
    display: flex;
    flex-direction: column;

    @include respond(750px) {
      width: 90%;
    }
  }
}
