.pastConference {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .pastConference-container {
    background-color: var(--color-black-light);
    opacity: 0.4;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }

  h2 {
    margin-top: 2rem;
  }
}
