.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 2rem 15rem;
  width: 100%;
  position: absolute;
  // border-bottom: 1px solid rgb(241, 241, 241);

  .logo {
    flex: 0 1 22%;

    img {
      width: 100%;
    }
  }

  .navbar-menu {
    list-style: none;
    justify-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    li {
      display: inline-block;
      margin: 0 2rem;
      font-size: 1.7rem;
      cursor: pointer;
    }
  }
}
