.qissa {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5rem 0;

  .qissa-container {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;

    flex-direction: column;

    h1 {
      font-size: 7rem;
      margin-bottom: 1rem;
    }

    .logo {
      width: 200px;
      align-self: flex-end;
      margin-top: 2rem;
    }

    .banner {
      height: 400px;
      width: 800px;
    }

    .qissa-speakers {
      margin-top: 5rem;

      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      .speakers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .speaker-box {
          cursor: pointer;
          height: 250px;
          border-radius: 10px;
          flex: 0 0 250px;
          background-color: var(--color-grey);
          margin-bottom: 1rem;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 0.5s;
          color: var(--color-secondary);
          .name {
            font-size: 3rem;
            opacity: 0;
            transition: all 0.5s;
          }

          &:hover .name {
            opacity: 1;
          }
        }
      }
    }
  }
}
